a {
  cursor: pointer;
  text-decoration: none;
 
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@mixin text-style {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifsf
}

$header: 'Roboto', sans-serif;
$body: 'Lato', sans-serif;
$header-color: #3799d6;
$gray: #686868;



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  @include text-style;
  
}

