.delete-con-btn {
    text-decoration: none;
    border-style: none;
    padding: 10px;
    border-radius: 40px;
    background-color: #149ddc;
    color: white;
    cursor: pointer;
    width: 40%;
}

.contractors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-contractor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}


.contractors-header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-between;
    width: 93%;
    align-content: center;
    align-items: center;

    h1 {
        padding-left: 60px;   
    }
}
