.chart-contain {
  height: 100%;
  margin: 25px 60px 25px 60px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15);
}

.single-prop-chart {
  padding: 30px;
}
