.real_footer {
    width: 100%;
    flex-shrink: 0;
    font-family: $body;

    &-container {
        position: relative;
        top: 7em;
        height: 4em;
        background-color: #1DAFD5;
        display: block;
        padding: 10px;
    }

    &-text {
        position: relative;
        display: inline-block;
        font-size: 18px;
        margin: 0 auto;
        color: white;
        padding-top: 18px;
    }
}