@import 'App';
@import 'SplashLanding';
@import 'Login';
@import 'NavBar';
@import 'Properties';
@import 'SingleProperty';
@import 'PropForm';
@import 'Contractors';
@import 'WorkOrders';
@import 'ExpenseChart';
@import 'Footer';
@import 'Financial';
@import 'TotalExpensesChart';
@import 'TotalExpenseChart';
@import 'Contact';
@import 'GetStarted';
