.login-btn {
    background-color: transparent;
    border: 2px solid white;
    padding: 12px 20px 12px 20px;
    color: white;
    cursor: pointer;
    border-radius: 12%;
    font-size: 15px;
    outline: 0;
}

.login-btn:hover {
    background: white;
    transition: background-color 0.3s ease;
    color: #4d4d4d;

}

@media only screen and(max-width: 725px) {
    .login-btn {
        padding: 10px 16px 10px 16px;
    }
}