.full-screen-menu{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin-left: 57%;
    padding: 20px;
}




@media only screen and (min-width: 500px){
    .responsive-menu, .hamburger {
        display: none;
    }
}


@media only screen and (max-width: 750px){
    .responsive-menu { 
        display: block;
        padding: 20px;
        margin-left: 2%;
    }
    .full-screen-menu {
        display: none;
    }
}



@media only screen and(max-width: 1230px) {
    .full-screen-menu {
        margin-left: 50%;
    }
}

@media only screen and(max-width: 1115px) {
    .full-screen-menu {
        margin-left: 45%;
    }
}

@media only screen and(max-width: 990px) {
    .full-screen-menu {
        margin-left: 38%;
    }
}

@media only screen and(max-width: 880px) {
    .full-screen-menu {
        margin-left: 32%;
    }
}

@media only screen and(max-width: 799px) {
    .full-screen-menu {
        margin-left: 25%;
    }
}