.full-screen-menu{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin-left: 50%;
    padding: 20px;
    
}

@media only screen and(max-width: 1230px) {
    .full-screen-menu {
        margin-left: 45%;
    }
}

@media only screen and(max-width: 1115px) {
    .full-screen-menu {
        margin-left: 38%;
    }
}

@media only screen and(max-width: 990px) {
    .full-screen-menu {
        margin-left: 30%;
    }
}

@media only screen and(max-width: 880px) {
    .full-screen-menu {
        margin-left: 25%;
    }
}

@media only screen and(max-width: 799px) {
    .full-screen-menu {
        margin-left: 18%;
    }
}

@media only screen and (max-width: 750px){
    .full-screen-menu {
        display: none;
    }
}

@media only screen and (min-width: 750px){
    .responsive-menu, .hamburger {
        display: none;
    }
}
