.material-icons.md-48 {

    font-size: 48px; 
    padding: 20px; 
    justify-content: flex-start;
    
}

.full-screen-menu{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}
