.properties-header {
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-between;
    width: 90%;
    align-content: center;
    align-items: center;
    color: #3799d6;
    h1 {
        font-family: $header;
        font-size: 26px;
        margin-left: 100px;
    }
}

.properties-name {
    color: #4c4c4b;
    font-size: 24px;
    font-family: $header;
}

.delete-prop-btn {
    text-decoration: none;
    border-style: none;
    padding: 10px;
    border-radius: 40px;
    background-color: #149ddc;
    color: white;
    cursor: pointer;
    width: 20%;
}

.propertiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-property {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.properties-img {
    width: 400px;
    padding-bottom: 20px;
}


