.properties-container {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.properties-header {
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-between;
    width: 90%;
    align-content: center;
    align-items: center;
    color: #3799d6;
    h1 {
        font-family: $header;
        font-size: 26px;
        margin-left: 100px;
    }
}

.properties-name {
    color: #686868;
    font-size: 22px;
    font-family: $header;
    padding-bottom: 5px;
    font-weight: bold;
}

.delete-prop-btn {
    // text-decoration: none;
    // border-style: none;
    // padding: 10px;
    // border-radius: 40px;
    // background-color: #149ddc;
    color: #149ddc;
    cursor: pointer;
    // width: 20%;
}

.propertiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 auto;
}

.individual-property {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 12px 22px 0 rgba(0,0,0,.15);
    margin: 10px;
}

.properties-img {
    width: 400px;
    padding-bottom: 20px;
}


