// container holding 4 sub containers 
.property-tenant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.property-container {
    width: 620px;
    display: flex;
    justify-content: center;
}

.tenant-container {
    width: 620px;
    height: 415px;
    display: flex;
    margin-top: 82px;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 22px 0 rgba(0,0,0,.15);
}

.expenses-container {
    width: 620px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;background: white;
    border-radius: 4px;
    box-shadow: 0 10px 22px 0 rgba(0,0,0,.15);
}

.work-orders-container {
    width: 620px;
    display: flex;
    margin-top: 50px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 22px 0 rgba(0,0,0,.15);
    flex-direction: column;
}

// breadcrumb, property photo, address styling
.breadcrumb {
    font-family: $header;
    font-size: 26px;
    text-align: left;
    color: #3799d6;
    
}
.single-property-photo {
    max-width: 620px;
    max-height: auto;
    box-shadow: 0 10px 22px 0 rgba(0,0,0,.15);
}

.address {
    font-family: $body;
    color: $gray;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

// tenant container styling 
.tenant-header {
    font-family: $header;
    color: $header-color;
}

.tenant-info {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    font-family: $body;
    color: $gray;
    div {
        text-align: left;
        span {
            padding-right: 5px;
        }
    }
}

// expenses container styling 
.expenses-header {
    font-family: $header;
    color: $header-color;
    margin-top: 30px;
}

.expenses-info {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    font-family: $body;
    color: $gray;
    div {
        text-align: left;
        span {
            padding-right: 5px;
        }
    }
}

// work orders container styling 
.work-order-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    margin-bottom: 15px;
    h2 {
        margin-right: 155px;
        font-family: $header;
        color: $header-color;
    }
}

.requests {
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 22px 0 rgba(0,0,0,.15);
    width: 80%;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $body;
    color: $gray;
}

// save btns 
.save-btn {
    text-align: center;
    margin-left: 200px;
    margin-bottom: 40px;
}