.splash {
    // background: linear-gradient(
    //     rgba(white, 0.4)  
    //     rgba(white, 0.2),
    //     rgba(white, 0.2)),
    //   url("../../assets/brickplant.jpg");
    background: #00afd7;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 75vh;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);  
}

.logo {
    height: 9vh;
    padding: 10px 20px 40px 10px;
}

.splash-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    letter-spacing: 2px;
}

.first-container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 25px 60px 0 60px;
}

.first-container > div:nth-child(2) {
    margin-top: 40px;
    font-size: 26px;
    margin-left: 90px;
    width: 700px;
    display: flex;
    flex-direction: column;
    h2 {
        text-align: left;
        color: white;
        margin-bottom: 5px;;
    }
    p {
        text-align: left;
        font-size: 24px;
        width: 550px;
        color: white;
        line-height: 40px;
        font-size: 22px;
    }
}

.started-btn {
    background-color: white;
    border: 1px solid white;
    padding: 12px 60px 12px 60px;
    color: black;
    cursor: pointer;
    border-radius: 10px;;
    font-size: 18px;
    width: 300px;
    margin-top: 10px;
}

.second-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // margin-left: 40px;
    // margin-right: 40px;
    div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    height: 45vh;
    padding: 10px 10px 0 10px;
    width: 45vh;
    margin-top: 20px;
    margin-left: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h1 {
        padding-top: 15px;
        width: 90%;
        color: #545454;
        font-size: 1.75em;
        line-height: 40px;
    }
  }
}

.third-container {
    width: 100%;
    height: 70vh;
    background: #f4f4f4;
    margin: 100px 0 100px 0;
}

.footer {
    background: #00afd7;
    height: 40vh;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
}





