.chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 70vw;
    margin: auto;
  }

 .single-prop-contain {
    position: relative;
    height: 200px;
    width: 90%;
    margin: 30px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-left: 5%;
 }