.work_orders-container {
    display: flex;
    flex-direction: column;
}

.work-order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 160px 15px 160px;
    justify-content: space-between;
    padding: 8px 30px 8px 40px;
    border-radius: 8px;
    background: white;
    color: #4c4c4b;
    // font-family: $body;
    // font-size: 20px;
    box-shadow: 0 12px 22px 0 rgba(0,0,0,.15);
}

.type {
    font-family: $body;
    font-weight: bold;

}

.memo {
    font-family: $body;
}

.work-order-prop-name {
    font-size: 18px;
    font-family: $header;
    // color: #ff3776;
}

// .type-memo {
//     margin: 0;
//     font-size: 18px;
//     padding: 0px;
// }

.delete-work-order {
    padding : 0px 40px 0px 75px;
    border-left: 1px solid #dddedd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    cursor: pointer;
    font-size: 25px;
    color: #3799d6;
   
}

// .delete-work-order:hover {
//     font-size: 30px;
//     color: gray;
// }

.work-orders {
    display: flex;
    justify-content: flex-start;
    margin-left: 165px;
    margin-top: 35px;
    font-size: 26px;
    color: #3799d6;
    font-family: $header;
}

// .wo-line {
//     width: 90%;
//     margin-left: 70px;
//     border: .4px solid #dddedd;
// }

.work-orders-list {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
