//keyframe bounce animation
@keyframes moveUp {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.work-order-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 200px 15px 200px;
  justify-content: space-between;
  padding: 8px 30px 8px 40px;
  border-radius: 4px;
  background: white;
  color: #4c4c4b;
  font-family: $body;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15);
}

.work-order-container:hover {
  animation: 1s ease-in-out 0s 1 moveUp;
}

.type {
  font-family: $body;
  font-weight: bold;
  padding: 4px;
}

.memo {
  font-family: $body;
  padding: 4px;
}

.work-order-prop-name {
  font-size: 18px;
  font-family: $header;
  color: $header-color;
}

.delete-work-order {
  padding: 0px 40px 0px 75px;
  border-left: 1px solid #dddedd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  cursor: pointer;
  font-size: 25px;
  color: #3799d6;
}

.work-orders {
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 26px;
  color: #3799d6;
  font-family: $header;
}

.work-orders-list {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

// media queries
@media only screen and(max-width: 900px) {
  .work-order-container {
    display: flex;
    flex-direction: column;
    margin: 15px 80px 15px 80px;
    padding: 8px 15px 8px 15px;
  }

  .work-order-prop-name {
    color: $header-color;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }

  .type-memo {
    padding: 0px 5px 5px 5px;
    margin: 0px;
  }

  .type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .memo {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .delete-work-order {
    padding: 8px;
    height: auto;
    border: none;
  }
}

@media only screen and(max-width: 500px) {
  .work-order-container {
    display: flex;
    flex-direction: column;
    margin: 15px 40px 15px 40px;
    padding: 8px 15px 8px 15px;
  }

  .type {
    padding: 4px;
  }

  .memo {
    padding: 4px;
  }
}
