.work-order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 200px 15px 200px;
    justify-content: space-between;
    padding: 8px 30px 8px 40px;
    border-radius: 4px;
    background: white;
    color: #4c4c4b;
    font-family: $body;
    box-shadow: 0 12px 22px 0 rgba(0,0,0,.15);
}

.type {
    font-family: $body;
    font-weight: bold;
}

.memo {
    font-family: $body;
}

.work-order-prop-name {
    font-size: 18px;
    font-family: $header;
}

.delete-work-order {
    padding : 0px 40px 0px 75px;
    border-left: 1px solid #dddedd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    cursor: pointer;
    font-size: 25px;
    color: #3799d6;
   
}

.work-orders {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 26px;
    color: #3799d6;
    font-family: $header;
}

.work-orders-list {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

// media queries 
@media only screen and(max-width: 1040px) {


}
