a {
  cursor: pointer;
  text-decoration: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.splash {
  background: linear-gradient(rgba(64, 64, 64, 0.6) rgba(64, 64, 64, 0.6), rgba(64, 64, 64, 0.6)), url("../../assets/windows.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 73vh;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); }

.logo {
  height: 8vh;
  padding: 10px 20px 40px 10px; }

.splash-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 13px; }

.first-container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 25px 60px 0 60px; }

.first-container > div:nth-child(2) {
  margin-top: 22px;
  margin-left: 90px;
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 26px; }
  .first-container > div:nth-child(2) h2 {
    text-align: left;
    color: white;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px; }
  .first-container > div:nth-child(2) p {
    text-align: left;
    width: 550px;
    color: white;
    line-height: 35px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px; }

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .second-container div {
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    padding: 10px 10px 0 10px;
    width: 45vh;
    margin: 50px 30px 0px 30px;
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }
    .second-container div h1 {
      width: 90%;
      color: #545454;
      font-size: 25px;
      line-height: 35px;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1.5px; }
    .second-container div hr {
      border: 1px solid #3799d6;
      width: 70px;
      margin-top: 20px; }

.third-container {
  width: 100%;
  background: white;
  margin: 100px 0 60px 0;
  padding-top: 15px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }

.third-container > h2 {
  font-size: 30px;
  color: #3799d6;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.third-container > p {
  font-size: 20px;
  color: #686868;
  text-align: left;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  width: 60%; }

.testimonial {
  width: 100%;
  height: auto;
  line-height: 25px; }

#cust-img {
  height: 125px;
  width: 125px;
  display: block;
  float: left;
  margin-top: 10px; }

.quote {
  font-size: 18px;
  color: white;
  text-align: left; }

#author {
  color: white;
  font-size: 20px; }

.footer {
  background: #009be0;
  height: 75vh;
  position: relative;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center; }

.footer div {
  position: absolute;
  bottom: 7px;
  padding-bottom: 35px;
  color: white; }

@media only screen and (max-width: 725px) {
  .logo {
    height: 7vh; }

  .splash-header {
    font-size: 12px; }

  .first-container > div:first-of-type {
    padding: 25px 60px 0 35px; }

  .first-container > div:nth-child(2) {
    margin-top: 15px;
    margin-left: 70px;
    width: 450px;
    font-size: 22px; }
    .first-container > div:nth-child(2) p {
      width: 450px;
      line-height: 30px;
      font-size: 18px; }

  .started-btn {
    padding: 12px 55px 12px 55px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px; }

  .copy-right {
    display: none; }

  .third-container {
    padding: 20px 0px 10px 0px; }
    .third-container h2 {
      width: 70%;
      padding-bottom: 10px; }

  .third-container > p {
    text-align: center; } }
@media only screen and (max-width: 520px) {
  .logo {
    height: 7vh;
    padding: 0; }

  .splash-header h1 {
    display: none; }

  .first-container > div:first-of-type {
    padding: 25px 60px 0 35px; }

  .first-container > div:nth-child(2) {
    margin-top: 15px;
    margin-left: 50px;
    width: 420px;
    font-size: 20px; }
    .first-container > div:nth-child(2) p {
      width: 420px;
      line-height: 25px;
      font-size: 17px; }

  .started-btn {
    padding: 12px 55px 12px 55px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px; } }
@media only screen and (max-width: 475px) {
  .logo {
    height: 7vh;
    padding: 0; }

  .splash-header h1 {
    display: none; }

  .first-container > div:first-of-type {
    padding: 25px 60px 0 35px; }

  .first-container > div:nth-child(2) {
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    font-size: 20px; }
    .first-container > div:nth-child(2) p {
      width: 320px;
      line-height: 25px;
      font-size: 17px; }

  .started-btn {
    padding: 12px 55px 12px 55px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px; } }
@media only screen and (min-width: 573px) {
  .testimonial {
    margin: 0 auto;
    width: 60%;
    height: 300px;
    font-size: 20px; } }
@media only screen and (min-width: 1050px) {
  .testimonial {
    font-size: 2em; }

  #cust-img {
    height: 175px;
    width: 175px; }

  .third-container > p {
    margin: 3em 4em; }

  .quote {
    position: relative;
    top: 2em; }

  #author {
    position: relative;
    top: 2em; } }
.login-btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 20px 12px 20px;
  color: white;
  cursor: pointer;
  border-radius: 12%;
  font-size: 15px;
  outline: 0; }

.login-btn:hover {
  background: white;
  transition: background-color 0.3s ease;
  color: #4d4d4d; }

@media only screen and (max-width: 725px) {
  .login-btn {
    padding: 10px 16px 10px 16px; } }
.full-screen-menu {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-left: 50%;
  padding: 20px; }

@media only screen and (max-width: 1230px) {
  .full-screen-menu {
    margin-left: 45%; } }
@media only screen and (max-width: 1115px) {
  .full-screen-menu {
    margin-left: 35%; } }
@media only screen and (max-width: 990px) {
  .full-screen-menu {
    margin-left: 28%; } }
@media only screen and (max-width: 880px) {
  .full-screen-menu {
    margin-left: 22%; } }
@media only screen and (max-width: 799px) {
  .full-screen-menu {
    margin-left: 13%; } }
@media only screen and (max-width: 750px) {
  .full-screen-menu {
    display: none; } }
@media only screen and (min-width: 750px) {
  .responsive-menu, .hamburger {
    display: none; } }
.properties-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh; }

.properties-header {
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  align-content: center;
  align-items: center;
  color: #3799d6; }
  .properties-header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    margin-left: 80px; }

.properties-name {
  color: #686868;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  font-weight: bold; }

.properties-name:hover {
  color: #ff3776; }

.delete-prop-btn {
  color: #149ddc;
  cursor: pointer; }

.propertiesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto; }

.individual-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15);
  margin: 10px; }

.crop-properties-img {
  width: 380px;
  height: 230px;
  overflow: hidden;
  margin-bottom: 20px; }

.properties-img {
  width: 100%; }

.properties-img:hover {
  width: 105%;
  transition: .4s ease; }

@media only screen and (max-width: 500px) {
  .properties-img {
    width: 290px; }

  .properties-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0; }
    .properties-header h1 {
      font-size: 30px;
      margin-left: 0px;
      padding-bottom: 10px; }
    .properties-header div {
      margin-right: 40px;
      margin-bottom: 20px; }
      .properties-header div svg {
        margin-left: 15px; } }
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes slideFromRight {
  0% {
    transform: translateX(200%); }
  100% {
    transform: translateX(0); } }
.property-tenant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 80px; }

.property-container {
  width: 620px;
  display: flex;
  justify-content: center; }

.tenant-container {
  width: 600px;
  height: 430px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

.expenses-container {
  width: 600px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

.work-orders-container {
  width: 600px;
  display: flex;
  margin-top: 50px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15);
  flex-direction: column; }

.breadcrumb {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  text-align: left;
  color: #3799d6; }

.crop-property-img {
  width: 620px;
  height: 430px;
  overflow: hidden; }

.single-property-photo {
  height: 100%;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

.address {
  font-family: "Lato", sans-serif;
  color: #686868;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px; }

.tenant-header {
  font-family: "Roboto", sans-serif;
  color: #3799d6; }

.tenant-info {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  font-family: "Lato", sans-serif;
  color: #686868; }
  .tenant-info div {
    text-align: left; }
    .tenant-info div span {
      padding-right: 5px; }

.expenses-header {
  font-family: "Roboto", sans-serif;
  color: #3799d6;
  margin-top: 30px; }

.expenses-info {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  font-family: "Lato", sans-serif;
  color: #686868; }
  .expenses-info div {
    text-align: left; }
    .expenses-info div span {
      padding-right: 5px; }

.work-order-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 14px;
  margin-bottom: 15px; }
  .work-order-header h2 {
    margin-right: 155px;
    font-family: "Roboto", sans-serif;
    color: #3799d6; }

.requests {
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15);
  width: 80%;
  margin-left: 63px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  color: #686868; }

.requests > div:nth-child(1) {
  float: right;
  margin-right: 20px; }

.save-btn {
  text-align: center;
  margin-left: 200px;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  color: #686868; }
  .save-btn div {
    display: flex;
    justify-content: center;
    align-items: center; }

@media only screen and (min-width: 450px) {
  .property-container {
    animation: 1s ease-out 0s 1 slideFromLeft; }

  .tenant-container {
    animation: 1s ease-out 0s 1 slideFromRight; }

  .expenses-container {
    animation: 1s ease-out 0s 1 slideFromLeft; }

  .work-orders-container {
    animation: 1s ease-out 0s 1 slideFromRight; } }
@media only screen and (min-width: 1200px) {
  .work-orders-container {
    padding-bottom: 50px; }

  .property-container {
    width: 670px; }

  .tenant-container {
    width: 670px;
    height: 460px; }

  .expenses-container {
    width: 670px; }

  .work-orders-container {
    width: 670px; }

  .single-property-photo {
    max-width: 670px; } }
@media only screen and (max-width: 1200px) {
  .work-orders-container {
    padding-bottom: 50px; } }
@media only screen and (max-width: 670px) {
  .property-tenant-container {
    align-items: center; }

  .property-container {
    width: 300px;
    display: flex;
    justify-content: center; }

  .crop-property-img {
    width: 430px;
    height: 240px;
    overflow: hidden; }

  .breadcrumb {
    font-size: 22px;
    text-align: center; }

  .address {
    font-size: 18px;
    margin-top: 15px; }

  .tenant-container {
    width: 350px;
    height: 550px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center; }

  .expenses-container {
    width: 350px;
    margin-top: 20px; }

  .expenses-header {
    padding-bottom: 10px; }

  .work-orders-container {
    width: 350px;
    padding-bottom: 30px; }

  .requests {
    width: 75%;
    margin-left: 32px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px; }

  .workorder-title {
    color: #3799d6; }

  .requests > div:nth-child(1) {
    float: right; }

  .save-btn {
    margin-left: 60px; } }
.dialog-container {
  display: flex;
  height: 1000px;
  width: auto; }

.contractors-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh; }

.delete-con-btn {
  text-decoration: none;
  border-style: none;
  padding: 10px;
  border-radius: 40px;
  background-color: #149ddc;
  color: white;
  cursor: pointer;
  width: 40%; }

.contractors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px; }

.individual-contractor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-bottom: 20px; }
  .individual-contractor div {
    width: 90%;
    margin: 0 auto; }

.contractors-header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 93%;
  align-content: center;
  align-items: center; }
  .contractors-header h1 {
    margin-left: 80px;
    font-family: "Roboto", sans-serif;
    color: #3799d6;
    font-size: 26px;
    margin-bottom: 30px; }

.buttons {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap; }
  .buttons div {
    width: 90px; }

@media only screen and (max-width: 900px) {
  .contractors-header {
    width: 90%; }
    .contractors-header h1 {
      margin-left: 80px;
      font-family: "Roboto", sans-serif;
      color: #3799d6;
      font-size: 26px;
      margin-bottom: 30px; } }
@media only screen and (max-width: 900px) and (max-width: 500px) {
  .contractors-info input {
    text-align: center; } }
@media only screen and (max-width: 900px) and (max-width: 600px) {
  .contractors-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .contractors-header h1 {
      margin-left: 0px;
      font-size: 30px;
      padding-bottom: 10px; }
    .contractors-header div {
      margin-right: 40px;
      margin-bottom: 20px; }
      .contractors-header div svg {
        margin-left: 16px; } }
@keyframes moveUp {
  0% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(-10px); } }
.work-order-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 200px 15px 200px;
  justify-content: space-between;
  padding: 8px 30px 8px 40px;
  border-radius: 4px;
  background: white;
  color: #4c4c4b;
  font-family: "Lato", sans-serif;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15); }

.work-order-container:hover {
  animation: 1s ease-in-out 0s 1 moveUp; }

.type {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 4px; }

.memo {
  font-family: "Lato", sans-serif;
  padding: 4px; }

.work-order-prop-name {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #3799d6; }

.delete-work-order {
  padding: 0px 40px 0px 75px;
  border-left: 1px solid #dddedd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  cursor: pointer;
  font-size: 25px;
  color: #3799d6; }

.work-orders {
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 26px;
  color: #3799d6;
  font-family: "Roboto", sans-serif; }

.work-orders-list {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }

@media only screen and (max-width: 900px) {
  .work-order-container {
    display: flex;
    flex-direction: column;
    margin: 15px 80px 15px 80px;
    padding: 8px 15px 8px 15px; }

  .work-order-prop-name {
    color: #3799d6;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px; }

  .type-memo {
    padding: 0px 5px 5px 5px;
    margin: 0px; }

  .type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px; }

  .memo {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px; }

  .delete-work-order {
    padding: 8px;
    height: auto;
    border: none; } }
@media only screen and (max-width: 500px) {
  .work-order-container {
    display: flex;
    flex-direction: column;
    margin: 15px 40px 15px 40px;
    padding: 8px 15px 8px 15px; }

  .type {
    padding: 4px; }

  .memo {
    padding: 4px; } }
.chart-contain {
  height: 100%;
  margin: 25px 60px 25px 60px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15); }

.single-prop-chart {
  padding: 30px; }

.real_footer {
  width: 100%;
  flex-shrink: 0;
  font-family: "Lato", sans-serif; }
  .real_footer-container {
    position: relative;
    top: 7em;
    height: 4em;
    background-color: #1DAFD5;
    display: block;
    padding: 10px; }
  .real_footer-text {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
    color: white;
    padding-top: 18px; }

#total-expenses-chart {
  height: 700px;
  width: 800px;
  margin: 0 auto; }

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 70vw;
  margin: auto; }

.single-prop-contain {
  position: relative;
  height: 200px;
  width: 90%;
  margin: 30px;
  background-color: lightgrey;
  border-radius: 20px;
  margin-left: 5%; }

#bg-img {
  background: linear-gradient(rgba(231, 206, 233, 0.5) rgba(147, 193, 211, 0.5), rgba(160, 199, 212, 0.6)), url("../../assets/sam-ellis-265276-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  margin: auto; }

.contact-container {
  width: 620px;
  height: 60vh;
  display: flex;
  margin: auto;
  margin-left: 25%;
  padding: 40px;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.883);
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15);
  margin-top: 7%;
  -webkit-clip-path: inset(8% 0% 15% 0% round 15% 15% 0 15%); }

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly; }

.contact {
  margin-top: 5%;
  color: black;
  margin: auto;
  font-weight: 200;
  font-size: 3em;
  line-height: 40px; }

.contact-form {
  margin-bottom: 10%; }

p span a {
  display: block;
  line-height: 25px; }

@media only screen and (max-width: 1000px) {
  .contact-container {
    width: 620px;
    height: 60vh;
    margin: 0 auto; } }
@media only screen and (max-width: 725px) {
  .contact-container {
    width: 410px;
    height: 40vh; } }
@media only screen and (max-width: 500px) {
  .contact-container {
    width: 260px;
    height: 26vh;
    margin-top: 90px; }

  .contact {
    color: black;
    margin: auto;
    font-weight: 200;
    font-size: 2em;
    line-height: 20px; }

  .contact-form {
    margin-top: 30px; } }
.started-btn {
  background-color: white;
  padding: 12px 60px 12px 60px;
  color: #4c4c4b;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  width: 300px;
  margin-top: 10px; }

.started-btn:hover {
  transition: background-color .2s ease;
  background: #ff3776;
  color: white; }

.get-started {
  display: flex;
  justify-content: flex-start; }

/*# sourceMappingURL=index.css.map */
