a {
  cursor: pointer;
  text-decoration: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifsf; }

.splash {
  background: linear-gradient(rgba(64, 64, 64, 0.6) rgba(64, 64, 64, 0.6), rgba(64, 64, 64, 0.6)), url("../../assets/windows.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 73vh;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); }

.logo {
  height: 8vh;
  padding: 10px 20px 40px 10px; }

.splash-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 13px; }

.first-container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 25px 60px 0 60px; }

.first-container > div:nth-child(2) {
  margin-top: 22px;
  margin-left: 90px;
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 26px; }
  .first-container > div:nth-child(2) h2 {
    text-align: left;
    color: white;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px; }
  .first-container > div:nth-child(2) p {
    text-align: left;
    width: 550px;
    color: white;
    line-height: 35px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px; }

.started-btn {
  background-color: white;
  padding: 12px 60px 12px 60px;
  color: #4c4c4b;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  width: 300px;
  margin-top: 10px; }

.started-btn:hover {
  transition: background-color .2s ease;
  background: #ff3776;
  color: white; }

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .second-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    height: 45vh;
    padding: 10px 10px 0 10px;
    width: 45vh;
    margin: 20px 30px 0px 30px;
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }
    .second-container div h1 {
      padding-top: 15px;
      width: 90%;
      color: #545454;
      font-size: 1.75em;
      line-height: 40px;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1.5px; }

.third-container {
  width: 100%;
  height: 70vh;
  background: #f4f4f4;
  margin: 100px 0 100px 0; }

.footer {
  background: #009be0;
  height: 15vh;
  position: relative;
  display: flex;
  justify-content: center; }

.footer div {
  position: absolute;
  bottom: 7px;
  padding-bottom: 35px;
  color: white; }

.login-btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 20px 12px 20px;
  color: white;
  cursor: pointer;
  border-radius: 12%;
  font-size: 15px; }

.login-btn:hover {
  background: white;
  transition: background-color 0.3s ease;
  color: #4d4d4d; }

.full-screen-menu {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-left: 57%;
  padding: 20px;
  color: blue; }

@media only screen and (min-width: 500px) {
  .responsive-menu, .hamburger {
    display: none; } }
@media only screen and (max-width: 700px) {
  .responsive-menu {
    display: block;
    padding: 20px;
    margin-left: 2%; }

  .full-screen-menu {
    display: none; } }
.properties-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh; }

.properties-header {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  align-content: center;
  align-items: center;
  color: #3799d6; }
  .properties-header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    margin-left: 100px; }

.properties-name {
  color: #4c4c4b;
  font-size: 24px;
  font-family: "Roboto", sans-serif; }

.delete-prop-btn {
  text-decoration: none;
  border-style: none;
  padding: 10px;
  border-radius: 40px;
  background-color: #149ddc;
  color: white;
  cursor: pointer;
  width: 20%; }

.propertiesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto; }

.individual-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }

.properties-img {
  width: 400px;
  padding-bottom: 20px; }

.single_property-container {
  display: flex;
  flex-direction: column;
  height: auto; }

.property-tenant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px; }

.property {
  width: 48%; }

.breadcrumb {
  text-align: left;
  font-size: 24px;
  width: 100%; }

.breadcrumb a {
  color: black; }

.single-prop-photo {
  width: 80%; }

.address {
  padding-top: 10px; }

.curr-tenant {
  margin-top: 80px;
  padding-right: 100px; }

.tenant-header {
  text-align: left;
  padding-bottom: 10px; }

.tenant-info {
  text-align: left; }

.work-orders-sp {
  display: flex;
  flex-direction: column;
  width: 30%; }

.add-work-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px; }

.wo-expenses {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.wo-h2 {
  padding-left: 30px; }

.expenses-sp {
  margin-left: 180px;
  text-align: left; }
  .expenses-sp h2 {
    text-align: left; }

.requests {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.dialog-container {
  display: flex;
  height: 1000px;
  width: auto; }

.contractors-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  flex-wrap: wrap; }

.delete-con-btn {
  text-decoration: none;
  border-style: none;
  padding: 10px;
  border-radius: 40px;
  background-color: #149ddc;
  color: white;
  cursor: pointer;
  width: 40%; }

.contractors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto; }

.individual-contractor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .individual-contractor h1 {
    margin-top: 0;
    margin-bottom: 0; }

.contractors-header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 93%;
  align-content: center;
  align-items: center; }
  .contractors-header h1 {
    padding-left: 60px; }

.buttons {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap; }

.work_orders-container {
  display: flex;
  flex-direction: column; }

.work-order-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 160px 15px 160px;
  justify-content: space-between;
  padding: 8px 30px 8px 40px;
  border-radius: 8px;
  background: white;
  color: #4c4c4b;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15); }

.type {
  font-family: "Lato", sans-serif;
  font-weight: bold; }

.memo {
  font-family: "Lato", sans-serif; }

.work-order-prop-name {
  font-size: 18px;
  font-family: "Roboto", sans-serif; }

.delete-work-order {
  padding: 0px 40px 0px 75px;
  border-left: 1px solid #dddedd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  cursor: pointer;
  font-size: 25px;
  color: #3799d6; }

.delete-work-order:hover {
  font-size: 30px;
  color: gray;
  cursor: pointer; }

.work-orders {
  display: flex;
  justify-content: flex-start;
  margin-left: 165px;
  margin-top: 35px;
  font-size: 26px;
  color: #3799d6;
  font-family: "Roboto", sans-serif; }

.work-orders-list {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }

#single-prop-chart {
  height: 500px;
  width: 500px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center; }

.real_footer {
  width: 100%;
  flex-shrink: 0; }
  .real_footer-container {
    position: relative;
    top: 7em;
    height: 4em;
    background-color: #1DAFD5;
    display: block;
    padding: 10px; }
  .real_footer-text {
    position: relative;
    display: inline-block;
    font-size: 25px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.23); }

#total-expenses-chart {
  height: 700px;
  width: 800px;
  margin: 0 auto; }

/*# sourceMappingURL=index.css.map */
