a {
  cursor: pointer;
  text-decoration: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifsf; }

.splash {
  background: linear-gradient(rgba(64, 64, 64, 0.6) rgba(64, 64, 64, 0.6), rgba(64, 64, 64, 0.6)), url("../../assets/windows.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 73vh;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); }

.logo {
  height: 8vh;
  padding: 10px 20px 40px 10px; }

.splash-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 13px; }

.first-container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 25px 60px 0 60px; }

.first-container > div:nth-child(2) {
  margin-top: 22px;
  margin-left: 90px;
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 26px; }
  .first-container > div:nth-child(2) h2 {
    text-align: left;
    color: white;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px; }
  .first-container > div:nth-child(2) p {
    text-align: left;
    width: 550px;
    color: white;
    line-height: 35px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px; }

.started-btn {
  background-color: white;
  padding: 12px 60px 12px 60px;
  color: #4c4c4b;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  width: 300px;
  margin-top: 10px; }

.started-btn:hover {
  transition: background-color .2s ease;
  background: #ff3776;
  color: white; }

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .second-container div {
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    padding: 10px 10px 0 10px;
    width: 45vh;
    margin: 50px 30px 0px 30px;
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }
    .second-container div h1 {
      padding-top: 15px;
      width: 90%;
      color: #545454;
      font-size: 25px;
      line-height: 35px;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1.5px; }
    .second-container div hr {
      border: 1px solid black;
      width: 80px; }

.third-container {
  width: 100%;
  height: 70vh;
  background: white;
  margin: 100px 0 100px 0; }

.footer {
  background: #009be0;
  height: 15vh;
  position: relative;
  display: flex;
  justify-content: center; }

.footer div {
  position: absolute;
  bottom: 7px;
  padding-bottom: 35px;
  color: white; }

@media only screen and (max-width: 725px) {
  .logo {
    height: 7vh; }

  .splash-header {
    font-size: 12px; }

  .first-container > div:first-of-type {
    padding: 25px 60px 0 35px; }

  .first-container > div:nth-child(2) {
    margin-top: 15px;
    margin-left: 70px;
    width: 450px;
    font-size: 22px; }
    .first-container > div:nth-child(2) p {
      width: 450px;
      line-height: 30px;
      font-size: 18px; }

  .started-btn {
    padding: 12px 55px 12px 55px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px; } }
@media only screen and (max-width: 520px) {
  .logo {
    height: 7vh;
    padding: 0; }

  .splash-header h1 {
    display: none; }

  .first-container > div:first-of-type {
    padding: 25px 60px 0 35px; }

  .first-container > div:nth-child(2) {
    margin-top: 15px;
    margin-left: 50px;
    width: 420px;
    font-size: 20px; }
    .first-container > div:nth-child(2) p {
      width: 420px;
      line-height: 25px;
      font-size: 17px; }

  .started-btn {
    padding: 12px 55px 12px 55px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px; } }
@media only screen and (max-width: 475px) {
  .logo {
    height: 7vh;
    padding: 0; }

  .splash-header h1 {
    display: none; }

  .first-container > div:first-of-type {
    padding: 25px 60px 0 35px; }

  .first-container > div:nth-child(2) {
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    font-size: 20px; }
    .first-container > div:nth-child(2) p {
      width: 320px;
      line-height: 25px;
      font-size: 17px; }

  .started-btn {
    padding: 12px 55px 12px 55px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px; } }
.login-btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 20px 12px 20px;
  color: white;
  cursor: pointer;
  border-radius: 12%;
  font-size: 15px; }

.login-btn:hover {
  background: white;
  transition: background-color 0.3s ease;
  color: #4d4d4d; }

@media only screen and (max-width: 725px) {
  .login-btn {
    padding: 10px 16px 10px 16px; } }
.full-screen-menu {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-left: 57%;
  padding: 20px; }

@media only screen and (min-width: 500px) {
  .responsive-menu, .hamburger {
    display: none; } }
@media only screen and (max-width: 750px) {
  .responsive-menu {
    display: block;
    padding: 20px;
    margin-left: 2%; }

  .full-screen-menu {
    display: none; } }
@media only screen and (max-width: 1230px) {
  .full-screen-menu {
    margin-left: 50%; } }
@media only screen and (max-width: 1115px) {
  .full-screen-menu {
    margin-left: 45%; } }
@media only screen and (max-width: 990px) {
  .full-screen-menu {
    margin-left: 38%; } }
@media only screen and (max-width: 880px) {
  .full-screen-menu {
    margin-left: 32%; } }
@media only screen and (max-width: 799px) {
  .full-screen-menu {
    margin-left: 25%; } }
.properties-container {
  display: flex;
  flex-direction: column;
  min-height: 86vh; }

.properties-header {
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  align-content: center;
  align-items: center;
  color: #3799d6; }
  .properties-header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    margin-left: 80px; }

.properties-name {
  color: #686868;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  font-weight: bold; }

.delete-prop-btn {
  color: #149ddc;
  cursor: pointer; }

.propertiesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto; }

.individual-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15);
  margin: 10px; }

.properties-img {
  width: 360px;
  padding-bottom: 20px; }

@media only screen and (max-width: 500px) {
  .properties-img {
    width: 290px; }

  .properties-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0; }
    .properties-header h1 {
      font-size: 30px;
      margin-left: 0px;
      padding-bottom: 10px; }
    .properties-header div {
      margin-right: 40px;
      margin-bottom: 20px; }
      .properties-header div svg {
        margin-left: 15px; } }
.property-tenant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 80px; }

.property-container {
  width: 620px;
  display: flex;
  justify-content: center; }

.tenant-container {
  width: 620px;
  height: 430px;
  display: flex;
  margin-top: 82px;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

.expenses-container {
  width: 620px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

.work-orders-container {
  width: 620px;
  display: flex;
  margin-top: 50px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15);
  flex-direction: column; }

.breadcrumb {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  text-align: left;
  color: #3799d6; }

.single-property-photo {
  max-width: 620px;
  max-height: auto;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

.address {
  font-family: "Lato", sans-serif;
  color: #686868;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px; }

.tenant-header {
  font-family: "Roboto", sans-serif;
  color: #3799d6; }

.tenant-info {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  font-family: "Lato", sans-serif;
  color: #686868; }
  .tenant-info div {
    text-align: left; }
    .tenant-info div span {
      padding-right: 5px; }

.expenses-header {
  font-family: "Roboto", sans-serif;
  color: #3799d6;
  margin-top: 30px; }

.expenses-info {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  font-family: "Lato", sans-serif;
  color: #686868; }
  .expenses-info div {
    text-align: left; }
    .expenses-info div span {
      padding-right: 5px; }

.work-order-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 14px;
  margin-bottom: 15px; }
  .work-order-header h2 {
    margin-right: 155px;
    font-family: "Roboto", sans-serif;
    color: #3799d6; }

.requests {
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15);
  width: 80%;
  margin-bottom: 10px;
  margin-left: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  color: #686868; }

.save-btn {
  text-align: center;
  margin-left: 200px;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  color: #686868; }
  .save-btn div {
    display: flex;
    justify-content: center;
    align-items: center; }

@media only screen and (max-width: 600px) {
  .property-container {
    width: 300px;
    display: flex;
    justify-content: center; }

  .single-property-photo {
    width: 300px;
    box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.15); }

  .breadcrumb {
    font-size: 22px;
    text-align: center; }

  .address {
    font-size: 18px;
    margin-top: 15px; }

  .tenant-container {
    width: 350px;
    height: 550px;
    margin-top: 20px; }

  .expenses-container {
    width: 350px;
    margin-top: 20px; }

  .expenses-header {
    padding-bottom: 10px; }

  .work-orders-container {
    width: 350px;
    padding-bottom: 30px; }

  .requests {
    width: 75%;
    margin-bottom: 10px;
    margin-left: 25px; }

  .save-btn {
    margin-left: 60px; } }
.dialog-container {
  display: flex;
  height: 1000px;
  width: auto; }

.contractors-container {
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  flex-wrap: wrap; }

.delete-con-btn {
  text-decoration: none;
  border-style: none;
  padding: 10px;
  border-radius: 40px;
  background-color: #149ddc;
  color: white;
  cursor: pointer;
  width: 40%; }

.contractors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto; }

.individual-contractor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .individual-contractor h1 {
    margin-top: 0;
    margin-bottom: 0; }

.contractors-header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 93%;
  align-content: center;
  align-items: center; }
  .contractors-header h1 {
    margin-left: 80px;
    font-family: "Roboto", sans-serif;
    color: #3799d6;
    font-size: 26px;
    margin-bottom: 30px; }

.buttons {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap; }

.work-order-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 200px 15px 200px;
  justify-content: space-between;
  padding: 8px 30px 8px 40px;
  border-radius: 4px;
  background: white;
  color: #4c4c4b;
  font-family: "Lato", sans-serif;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15); }

.type {
  font-family: "Lato", sans-serif;
  font-weight: bold; }

.memo {
  font-family: "Lato", sans-serif; }

.work-order-prop-name {
  font-size: 18px;
  font-family: "Roboto", sans-serif; }

.delete-work-order {
  padding: 0px 40px 0px 75px;
  border-left: 1px solid #dddedd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  cursor: pointer;
  font-size: 25px;
  color: #3799d6; }

.work-orders {
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 26px;
  color: #3799d6;
  font-family: "Roboto", sans-serif; }

.work-orders-list {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }

.chart-contain {
  height: 100%;
  margin: 25px 60px 25px 60px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.15); }

.single-prop-chart {
  padding: 30px; }

.real_footer {
  width: 100%;
  flex-shrink: 0;
  font-family: "Lato", sans-serif; }
  .real_footer-container {
    position: relative;
    top: 7em;
    height: 4em;
    background-color: #1DAFD5;
    display: block;
    padding: 10px; }
  .real_footer-text {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
    color: white;
    padding-top: 18px; }

.analytics-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh; }

#total-expenses-chart {
  height: 700px;
  width: 800px;
  margin: 0 auto; }

/*# sourceMappingURL=index.css.map */
